$darkest: #222222;
$darker: #333333;
$dark: #444444;

$background: var(--figma-color-bg);
$font: var(--figma-color-text);

$highlight: #aaaaaa;

$primary: #88715a;
$secondary: #4a3928;

$active: #20639b;
$changed: #3caea3;
$warning: #f6d55c;
$error: #ed553b;
